:root {
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
    --heading-font: "Open Sans",sans-serif;
    --body-font: "Lato",sans-serif;
    --bigger-font-size: 1.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.9375rem;
    --small-font-size: 0.8125rem;
    --smaller-font-size: 0.75rem;
    --heading-line-height: 1.3;
    --body-line-height: 1.6;
    --first-color: #007BDF;
    --first-color-alt:#006DC6;
    --second-color: #00ccff;
    --second-color-alt: #00c0f0;
    --third-color: #FC7B00;
    --accent-color: #FF3C32;
    --border-color: #DFE0E0;
    --text-color: #53575A;
    --body-bg: #FAFDFF;
    --header-height: 4.5rem;
    --vertical-content-space: 1rem; 
    --slider-items : 3;
    --slider-time : 9s;
}

/*TAMAÑOS DE TEXTO*/
.t1 {
    font-size: var(--bigger-font-size);
}

.t3 {
    font-size: var(--h3-font-size);
}
.t4 {
    font-size: var(--normal-font-size);
}
.t5 {
    line-height: var(--body-line-height);
    font-family: var(--body-font);
    letter-spacing: .015em;
    font-size: var(--small-font-size);
}

body {
    font-weight: 400;
    line-height: var(--body-line-height);
    font-size: var(--normal-font-size);
    color: var(--text-color);
    font-family: var(--body-font);
    background-color: var(--body-bg);
}

/* HEADER */
header {
    display: block;
    box-shadow: 0 1px 4px rgba(146,161,176,.15);
}
.main-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    width: 100%;
    height: var(--header-height);
    background: #fff;
    border-bottom: 1px solid var(--border-color);
}

.main-header__menu {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 100%;
    gap: 1rem;
    /* margin: 0 2rem; */
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo__img {
    display: block;
    max-width: 100px;
    height: 3rem;
    border-radius: 50%;
}

.logo__text {
    padding-left: 1rem;
    font-size: var(--normal-font-size);
    font-weight: 700;
    font-style: italic;
    color: var(--first-color);
    text-shadow: 2px 2px 2px rgba(144, 154, 165, 0.5);   
}

.menu {
    display: flex;
    justify-content: center;
    list-style: none; 
}

.submenu {
    position: absolute;
    top: 100%;
    display: none;
    color: #fff;
    border: 1px solid var(--border-color);
}

.menu__item {position: relative;}

.menu__item:hover > .menu__link  {
    color: #FFF;
    background-color: #00CBFF;
}

.menu__item:hover > .submenu {  
    display: block;
    width: 200px;
    color: #007BDF;
    background-color: #FFF;
}

.submenu > .menu__item .menu__link {
    margin: .5em;
    padding: .5em;
}

.menu__link {
    padding: 1.5rem;
    display: block;
    color: #007BDF;
}

/* SLIDER ANIMADO */


.slider__container--main {
    width: 100%;
    margin:auto;
    overflow: hidden;
}

.slider__container {
    position: relative;
    left: 0;
    display: flex;
    width: calc(100%* var(--slider-items));
    animation: slider var(--slider-time) linear infinite;
}

.slider__item {position: relative;}

.slider__img {
    display: block;
    width: 100%;
    min-height: 50%;
}

.slider__caption{
    position: absolute;
    bottom: -5em; 
    left: 1em;
    padding: 1em;
    margin: 0;
    font-size: 1.5em;
    color: #fff;
    background: rgba(0, 0, 0, .8);
    animation: caption calc(var(--slider-time) / 3) linear infinite; 
}

@keyframes slider {
    0%, 30% {
        left: 0;
    }
    33%, 63% {
        left: -100%
    }

    66%, 97% {
        left: -200%;
    }
}

@keyframes caption {
    30% , 90% {
        bottom: 1em;
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


/* MAIN CONTAINER */
/* SECTION 1 ACERCA DEL JARDIN*/

.section--1 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);   
    gap: 1rem;
    padding: 2rem;
}

.section__item--2 {
    grid-column: 2 / 5 ;
    grid-row: 1 / 4; 
}

.section__img{
    object-fit: cover;
    width: 100%;
    height: 300px; 
}
.section__item--1 {
    grid-column: 5 / 8;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: var(--h2-font-size);
    font-weight: 700;
}

.section__item--empty {
    grid-column: 4 / 8;
    grid-row: 2 / 6;
    order: -1;
    background-color: #FC7B00;
}
.section__item--3{
    grid-column: 5 / 8;
    grid-row: 2 / 6;
    padding: 1rem 2rem ;
    display: flex;
    align-items: center;
    color: #FFF;
}

.section__item--1 :first-child {
    color: var(--third-color);
}
.section__item--1 :last-child {
    color: var(--first-color);
}

.section__img {
    border: 5px solid #FFF;
}


/* SECTION 2 NUESTROS SERVICIOS */

.section--2 {
    padding: 2rem;
}
.content__main-section2 {
    display: flex;
    
}

.title-main {
    display: flex;
    justify-content: center;
}
.principal {
    text-align: center;    
}

.link_title {
    color: var(--first-color);
    display: table;

}
.link_title::after {
    content: '';
    display: block;
    height: 3px;
    transform: scale(0,1);
    transform-origin: center left;
    transition: transform .25s;
    background: var(--second-color);
}

.link_title:hover::after {
    transform: scale(1,1);
}
.service1 { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    min-height: 500px;
    padding: 1rem;
    text-align: center;   
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    padding: 1rem;
    box-shadow: 6px 6px 6px rgba(144, 154, 165, 0.5);   
    background-color: #00CBFF;
    border-radius: 50%;
}

.icon-image {
    width: 30%;
}

.service2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    padding: 1rem;
    width: 50%;
    min-height: 500px;
    text-align: center;  
} 

.title {
    color: var(--first-color);
}

.content__title-staff,
.content__title-gallery {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}
.title-staff {
    text-align: center;  
}

.link__title-staff {
    display: table;
    color: var(--first-color);
}
.link__title-staff::after {
    content: '';
    display: block;
    height: 3px;
    background: var(--second-color);
    transform: scale(0,1);
    transform-origin: center left;
    transition: transform .25s;
}

.link__title-staff:hover::after {
    transform: scale(1,1);
}

.content-staff {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
}

.staff {
    flex-basis: calc(30% );
    padding: 1rem;
}

.img-s {
    object-fit: cover;
    width: 100%;
    height: 300px;    
}

.description-staff {
    padding: 2rem;
    text-align: center;
}

.staff:hover > .description-staff {
    background-color: var(--border-color);
    color: var(--first-color);
}

.description__bottom-staff {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
    padding: 2rem;
    background-color: var(--first-color-alt);
}

.text__bottom-staff {
    flex-basis: 30%;
    color: #FFF;
    padding: 1em;
}

.link-staff:hover {
    background-color: var(--second-color-alt);
}

.link-staff  {
    display: block;
    width: 200px;
    padding: 1.5rem;
    color: #FFF;
    text-align: center;
    background-color: var(--second-color);
    border-radius: 10px;
}

.gallery__content {
    padding: 1rem;
}
.description__bottom-gallery {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
    padding: 2rem;
    background-color: var(--third-color);
}

.text__bottom-gallery {
    background-color: var(--third-color);
}

.content-bar {
    display: flex;
    justify-content: center;
    
}
.menu-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    padding: .5rem;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

.link-bar {
    width: 200px;
    color: var(--text-color);
}

.link-bar:hover {
    color: var(--third-color);
    text-decoration: underline;
}

.gallery__content {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem;;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10, 5vw);
    gap: .5rem;
    width: 80%;
}

.gallery__img {
    display: block;
    width: 100%;
    height: 100%;  
    object-fit: cover;
}

.gallery__item--1 {
    grid-column: 1 / 4 ;
    grid-row: 1 / 7;
}

.gallery__item--2 {
    grid-column: 1 / 3;
    grid-row: 7 / 11;
}

.gallery__item--3 {
    grid-column: 3 / 5;
    grid-row: 7 / 11;
}

.gallery__item--4 {
    grid-column: 4 / 7;
    grid-row: 1 / 4;
}

.gallery__item--5 {
    grid-column: 4 / 7;
    grid-row: 4 / 7;
}

.gallery__item--6 {
    grid-column: 5 / 7;
    grid-row: 7 / 9;
}

.gallery__item--7 {
    grid-column: 5 / 7;
    grid-row: 9 / 11;
}

.gallery__item--8{
    grid-column: 7 / 11;
    grid-row: 1 / 11;
}
/* EFECTO LIGHTBOX EN LA GALLERY EN INDEX.HTML */

.imagen-light {
    position: fixed;
    top: 40px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    transform: translate(100%);
    transition: transform .2s ease-in-out;
}

.show {
    transform: translate(0);
}

.agregar-imagen {
    width: 50%;
    border-radius: 10px;
    transform: scale(0);
    transition: transform .3s .2s;
}
.showImage {
    transform: scale(1);
}
.close {
    position: absolute;
    top: 40px;
    right: 130px;
    width: 60px;
    cursor: pointer;
    fill: #fff;
}


/*FOOTER*/

.container-footer {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
    justify-content: center;
    padding: 2rem;  
    color: #FFF;
    background: #00B4DB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.item__info,
.item__contacto,
.item__blog,
.content__categories,
.content__articles-recent {
    display: flex;
    flex-direction: column;
    /* padding: 1rem; */
}

.title__info-footer,
.title__contacto-footer,
.title__blog-footer,
.text__info-footer,
.text__contacto-footer {padding: 1rem;}

.content__blog {
    display: flex; 
    flex-direction: column;  
    justify-content: space-between;
}

.info-top ,
.info-center,
.info-bottom {
    display: flex;
    flex-direction: column;
    /* padding: 0 1rem 1rem; */
}

.blog__top ,
.blog__center,
.blog__bottom {
    display: flex;
    padding: 1rem;
}
.link-blog {color: #FFF;}

.link-blog:hover , 
.link-bar {color: #FC7B00}

.calendar {
    display: flex;
    align-items: center;  
}

.icon-calendar {
    padding-right: 1rem;
    fill: var(--border-color);
    width: 30px;
}

.content__link-info {    
    display: flex;
    color: var(--first-color);
}

.link__info-footer {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    width: 3rem;
    height: 3rem;
    background-color: hsla(0,0%,100%,.5);
    border-radius: 50%;
    
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: var(--first-color);
    border-radius: 50%; 
}

.title__info-footer::after,
.title__contacto-footer::after,
.title__blog-footer::after{
    content: " ";
    display: block;
    width: 50px;
    background-color: var(--second-color);
    height: 3px;;
}

.container-menu2 {
    display: none;
}

/*styles gallery.html*/

.slider__content,
.contact__content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 300px;
    background-image: url('/img/pexels-photo-4473562.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    text-align: center; 
}

.slider__text,
.contact__text {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 3em;
    color: #fff;
    text-align: center;
    background: rgba(0,0,0,.5);
}

.slider__text {
    display: flex;
    flex-direction: column;
}

/*styles contact.html*/
.contact__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

[type='text'] ,
[type= 'email'],
.text-area {
    width: 100%;
    padding: 2em;
    margin: 1em;
    font-family: var(--heading-font);
    font-size: var(--normal-font-size);
    font-weight: 400;
    border: 1px solid hsl(0, 0%, 90%);
    border-radius: 10px;  
}

.title__form,
.title__info-contact{
    color: var(--first-color);
}
.text-area {
    display: block;
    width: 100%;
    height: 200px;  
    overflow: hidden;
    resize: none;
    border: 1px solid hsl(0, 0%, 90%);
    border-radius: 10px;
}

.form {   
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.button--submit {
    display: block;
    padding: 2em;
    margin-left: auto;
    margin-right: auto;
    font-size: var(--small-font-size);
    font-weight: 400;
    color: #fff;
    background-color: var(--second-color);
    border: none;
    border-radius: 10px;
}

.button--submit:hover {
    cursor: pointer;
    font-weight: 700;
    background-color: var(--second-color-alt);
}
.telefono__content-img {
    background-color: var(--accent-color);
}

.mail__content-img {
    background-color: var(--third-color);
}

.atencion__content-img {
    background-color: var(--first-color);
}

.direccion__content-img {
    background-color: var(--second-color);
}

.content-main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 150px;
    margin: 2em;
    border: 5px dotted  hsl(0, 0%, 80%); 
}

.content {
    position: absolute;
    top: -20px;
    left: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 100px;
    height: 100px;
    box-shadow: 6px 6px 6px rgba(144, 154, 165, 0.5);   
    border-radius: 50%;
    }

.size {
    width: 50%;
}

.contact--1 {
    padding: 2em;
    display: flex;
}

.contact--1, 
.contact--3 {
    justify-content: space-evenly;
    align-items: flex-start;
}

.text__content {
    position: relative;
    padding: 2em;
    width: 100%;
    height: 80px;
    color: #fff;
}
.text__content--1 {
    background-image: linear-gradient(to bottom right, hsl(0,100%,60%), hsl(0,100%,10%));
}

/* .text__content--2 {
    background-image: linear-gradient(to bottom right, hsl(190,100%,60%), hsl(200,100%,30%));
} */

.text__content--3 {
    background-image: linear-gradient(to bottom right, hsl(29, 100%, 59%), hsl(20,100%,55%));
}

.text__content::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 10px;
    background-size: 20px 40px;
    background-image: radial-gradient(circle at 10px -15px, transparent 20px, white 21px);
}

.text__content::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 15px;
    background-size: 40px 40px;
    background-image: radial-gradient(circle at 10px 26px, white 20px, transparent 21px);
    }

.mapa {
    width: 60rem;
    height: 380px;
}


/* BLOG.HTML */

.submenu-bar {
    width: 100%;
    padding: 1em;
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.menu-list {
    display: flex;
    padding-left: 1rem;
}

.menu-list >* { color: #fff }

.link-blog { color: #DFE0E0;}

.menu-list > *:first-child:before { content: " "; }

.menu-list > *:before {
    content: "/";
    /* position: relative;
    top: 1px; */
    color: #fff;
    margin: 0 0.75em;
}

/* POST */
.blog__body {
    display: flex;
    padding: 2rem;
}
.content__post {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;    
    flex-basis: 70%;
}
.post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 48%;
    padding: 1em;
    margin-bottom: 2em;
    border-radius: 10px;
    border: 2px solid var(--border-color);
    box-shadow: 5px 5px 4px rgba(146,161,176,.15);
}

.post-img {
    width: 100%;
    height: 200px;
    padding-bottom: 1em;
    object-fit: cover;
    border-radius: 10px;
}

.content__link-post {width: 200px;}

.link-post {
    display: block;
    padding: 1em;
    margin: 1em;
    font-size: var(--small-font-size);
    color: #fff;
    background-color: var(--second-color);
    border-radius: 10px;
}

.link-post:hover {
    background-color: var(--second-color-alt);
}

.content-blog {
    border: 1px solid var(--border-color);
}

.post__most-recent {
    padding-left: 2em;
}

.title__blog {
    padding: 1em;
    color: #fff;
    background: #cb2d3e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ef473a, #cb2d3e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ef473a, #cb2d3e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.content-post {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 1em;
}

.link-blog-post {
    color: var(--text-color);
    text-align: start;
}

.icon-calendar-post { fill: var(--first-color);}

.button-post {
    display: block;
    padding: 1em;
    margin: 1em 0;
    color: var(--text-color);
    border: 1px solid var(--border-color);
    
}

.button-post:hover {
    color: #fff;
    background-color: var(--third-color);
    
}

@media screen and (max-width: 1023px) {

    /* INDEX.HTML RESPONSIVE */

    /*HEADER*/
    .logo {
        justify-content: start;
        padding-left: 1em;
    }
  
    .main-header__menu {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-row: 100%;
    }
  
    .container-menu {
        display: none;
    }
    .container-menu2 {
        display: grid;
        justify-content: end;
    }

    .hamburguer {
        cursor: pointer;
    }

    /* .icon_dropdown{
        display: block;
        display: flex;
        color:#fff;
        padding: 1em;
    } */
    .menu {
        display: none;
    }

    .menu__link {
        color: #FFF;
    }

    .container_menu-dropdown{
        position: fixed;
        top: var(--header-height);
        bottom: 0;
        width: 60%; 
        transition: transform .3s ease-out;
        transform: translate(110%);
        background: #00B4DB;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    
    .spread {
        transform: translate(0);
    }

    .menu {
        display: flex;
        flex-direction: column;
    }

    /*SECTION1*/
    .section--1 {
        display: block;
    }
    .section__img {
        border:0;
    }
  
    .section__item--1 {
       padding: 1em;
       text-align: center;
    }
    .section__item--3{
        padding: 1rem;
        background-color: #FC7B00;
    }

   /*SECTION2*/
  
    .content__main-section2 {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .service1 {
        width: 100%;
        justify-content: space-evenly;
    }

    .service2 {
        width: 100%;
        justify-content: space-evenly;
        padding: 0;
        margin: 0;
    } 

    /*staff*/
    .content-staff {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 2rem;
    }

    .staff {
        flex-basis: 100%;
        padding: 1rem;
    }

    .content__title-staff {
        padding: 0;
    }

    .text__bottom-staff,
     .text__bottom-gallery{
        padding: 1em;
        text-align: center;
    }
    .description__bottom-staff {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        
    }

    /*Gallery*/
    .description__bottom-gallery {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .close {
        top: 110px;
        right: 20px;
    }

    .agregar-imagen {
        width: 70%;
    }

    /*footer*/
    .container-footer {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3,1fr);
        justify-content: center;
        padding: 2rem;
        background-color: #007BDF;
        color: #FFF;
    }

    .item__info {
        justify-content: space-evenly;
    }
    .content__link-info{
        justify-content: start;
    }
    

/*CONTACTO.HTML RESPONSIVE*/

    .content-main {
        padding: 2em;
        margin: 2em;
    }
    
    .contact-main {
        padding: 2em;
    }
    .text__content {
        height: 100px;
    }

    .contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .mapa {
        width: 100%;
        height: 300px;
    }
    
    .blog__body {
        flex-direction: column;
    }

    .post {
        width: 100%;
        margin-left: 0;
        margin-bottom: 1em;
        border-radius: 20px;
    }

    .post-img {
        width: 100%;
        height: 300px;
    }

    .post__most-recent {
        width: 100%;
        padding: 0;
    }
 
}